@import "./_variables.scss";
@import "./_utilities.scss";
@import "./loaders.scss";
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');

body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bs-page);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

.marko-one {
  font-family: "Marko One", serif;
  font-weight: 400;
  font-style: normal;
}


